<div class='container' id='meme-generator'>
    <div class='row'>
<div class='col-sm-12'>
  <p id="create-gif-header">add a new gif</p>
  </div>
  </div>

  <div id='gfycat-div'>
    <form id='search-form' class="search-forms">
  <input type='text' id='gfycat-search' name='gfycat-search' placeholder='Search gfycat' >
  <button id="gfycat-search-btn" class='btn btn-submit'>Search</button>
  </form>

<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-columns">
        {{#each results}}
          <div class="card">
            <img class="card-img-top gif-result" src={{this}} />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
  </div>

    <form action="/api/meme" method="POST" id='meme-form' class="search-forms">
    <input id="img-val" name='imageurl' />
    <input type='text' name='caption' id = "create" placeholder='Caption' />
    <input id='create-meme' type='submit' class='btn btn-submit' />
  </form>

</div>
</div>
</div>

    <script src="/js/search-result.js"></script>
