<div class="topnav">
  <div class="topnav-centered">
    <a href="localhost:3000/generatememe" class="active">Generate Meme</a>
  </div>
  <div class="topnav-right">
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/">Home</a>
  </div>
</div>
