<div class="topnav">
  <div class="topnav-centered">
    <a href="/form" class="active">Generate Meme</a>
  </div>
  <div class="topnav-right">
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/">Home</a>
  </div>
  <div class="upvote" data-id = "1">
  <i class="fa fa-arrow-up"></i></div>

  <div class="downvote" data-id = "2">
  <i class="fa fa-arrow-down"></i></div>

  <div id='memes-display'>
    {{#each examples}}
      <p>{{text}}</p>
    {{/each}}
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
