  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
         <div id='memes-display'>
    {{#each memes}}
      <div class='meme-divs'>
        <img class='meme-gifs' src={{imageurl}}>
        <p class='meme-captions'>{{caption}}</p>
          {{!-- <div class="upvote" data-id = "1">
            <form
          <i class="fas fa-arrow-up"></i></div> --}}
          </div>
    {{/each}}
  </div>
</div>

      </div>
    </div>






<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
